In [ ]:
from functions import *

In [ ]:
lst = [1,2,3,4,5]

print(greet('ashish'))
print(subm(10,5))
print(arithmetic(10,5))
print(final(lst))
print(sq(lst))

hello ashish
None
15
(15, 5, 50)
[2, 12, 36, 80, 150]
[1, 4, 9, 16, 25]

#math

In [21]:
import math

x = 10.8
print(math.ceil(x))
print(math.floor(x))
print(math.trunc(x))

11
10
10

In [22]:
x = 3

print(math.exp(x))
print(math.log10(x))

20.085536923187668
0.47712125471966244

trignometry functions

In [23]:
x = 90

print(math.sin(x))
print(math.cos(x))
print(math.tan(x))

0.8939966636005579
-0.4480736161291701
-1.995200412208242

constants

In [25]:
print(math.pi)
print(math.e)
print(10, math.factorial(10))

3.141592653589793
2.718281828459045
10 3628800

#random

In [26]:
import random

In [33]:
random.seed(40)
print(random.random())
print(random.randint(1,11))
print(random.choice([1,2,3,4,5]))
print(random.sample([1,2,3,4,5],2))
print(random.uniform(1.0,3.0))

0.4586067093870614
9
1
[2, 3]
2.3291159862546795

#date and time

In [34]:
import datetime

In [39]:
print(datetime.datetime.now())
print(datetime.datetime(2023,10,28,10,30,0))

print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
date_1 = datetime.datetime(2023,10,28,10,30,0)
date_2 = datetime.datetime.now()
print(date_1 - date_2)

2025-05-01 18:02:48.417415
2023-10-28 10:30:00
2025-05-01 18:02:48
-552 days, 16:27:11.582245

#collections

In [45]:
from collections import Counter, defaultdict, OrderedDict

lst = [1, 2, 3, 4, 5, 5, 5, 6, 6, 7]
print(Counter(lst))

Counter({5: 3, 6: 2, 1: 1, 2: 1, 3: 1, 4: 1, 7: 1})

default dictionary

In [43]:

d = defaultdict(int)
d['a'] += 2
print(d)

defaultdict(<class 'int'>, {'a': 2})

order dict

In [46]:
d = OrderedDict()
d['one'] = 1
d['two'] = 2
print(d)

OrderedDict([('one', 1), ('two', 2)])

#string

In [47]:
import string

print(string.ascii_letters)     #lower + upper
print(string.ascii_lowercase)   #lower
print(string.ascii_uppercase)   #upper

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [48]:
print(string.digits)        # '0123456789'
print(string.hexdigits)     # '0123456789abcdefABCDEF'
print(string.octdigits)     # '01234567'

0123456789
0123456789abcdefABCDEF
01234567

In [49]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~