ques. check the no. divisible by 5 and 7 or not, if divisible then print print sqaure of it otherwise not divisible

In [5]:
n = 35
if((n%5 ==0) and (n%7==0)):
  print(n**2)

else:
  print('not divisible')

1225

ques. if the user is eligible for voting not valid 0-17 not eligible 18-100 otherwise eligible. write code

In [6]:
age = (int(input('enter your age: ')))

if(age >= 0) and (age <= 17):
  print("not valid age")

elif(age>= 18) and (age<=100):
  print("not eligible")

else:
  print("eligible")

enter your age: 5
not valid age

In [7]:
n = 35

if n % 5 == 0 and n % 7 == 0:
    print("Divisible by both 5 and 7")

elif n % 5 == 0 and n % 7 != 0:
    print("Divisible by 5 but not 7")

elif n % 7 == 0 and n % 5 != 0:
    print("Divisible by 7 but not 5")

else:
    print("Not divisible by 5 or 7")

Divisible by both 5 and 7

In [8]:
n = 7
s = 0

for i in range(1,n+1):
   s = s + i
print(s)

28

1. rolling 2 dices, whats the probability of you getting a sum of 8
2. rolling 3 dices, whats the probability of you getting a sum of 9
3. check if you've rolling 3 dices , is the probability for getting every number same or not

In [10]:
for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
       print(i,j,k)
    print('-'*10)
print()

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
----------
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
----------
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
----------
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
----------
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
----------
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
----------
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
----------
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
----------
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
----------
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
----------
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
----------
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
----------
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
----------
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
----------
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
----------
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
----------
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
----------
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
----------
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
----------
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
----------
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
----------
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
----------
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
----------
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
----------
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
----------
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
----------
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
----------
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
----------
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
----------
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
----------
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
----------
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
----------
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
----------
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
----------
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
----------
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
----------

wap to find the factorial of first n nos.

In [11]:
n = 5
s = 1

for i in range(1,n+1):
    s *= i
print(s)

120