conditions in dictionary comprehension

In [2]:
dct = {i : i**2 for i in range(1,6)}
print(dct)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [3]:
dct = {i : i**3 for i in range(1,6)}
print(dct)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

to create a dictionary of squared numbers

In [4]:
dct = {i : i**2 for i in range(1,11) if i%2 == 0}
print(dct)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

dictionaries from lists

In [6]:
lst = ['apple', 'banana', 'grapes']
dct = {item : len(item) for item in lst}
print(lst)
print(dct)

['apple', 'banana', 'grapes']
{'apple': 5, 'banana': 6, 'grapes': 6}

reverse

In [7]:
lst = ['apple', 'banana', 'grapes']
dct = {item : len(item) for item in lst}
print(lst)
print(dct)

dct = {len(item) : item for item in lst}
print(dct)

['apple', 'banana', 'grapes']
{'apple': 5, 'banana': 6, 'grapes': 6}
{5: 'apple', 6: 'grapes'}

special keys with strings

In [11]:
dct = {'num_'+ str(i):i for i in range(1,11) }
print(dct)

{'num_1': 1, 'num_2': 2, 'num_3': 3, 'num_4': 4, 'num_5': 5, 'num_6': 6, 'num_7': 7, 'num_8': 8, 'num_9': 9, 'num_10': 10}

shortlisting based on values

In [14]:
dct = {'num_'+ str(i):i for i in range(1,11) }
dct = {k:v for k,v in dct.items() if v%3 == 0}
print(dct)

{'num_3': 3, 'num_6': 6, 'num_9': 9}

nested comprehension

In [16]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
final_dct = {(i,j) : matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

reverse

In [17]:
final_dct = { matrix[i][j] : (i,j) for i in range(3) for j in range(3)}
print(final_dct)

{1: (0, 0), 2: (0, 1), 3: (0, 2), 4: (1, 0), 5: (1, 1), 6: (1, 2), 7: (2, 0), 8: (2, 1), 9: (2, 2)}