square all the elements in the list

In [2]:
lst = [1,2,3,4,5,6]
print(lst)
lst = [i**2 for i in lst]
print(lst)
lst = [i**2 for i in lst]
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]
[1, 16, 81, 256, 625, 1296]

finding first 10 even numbers

In [6]:
print([i for i in range(21) if i%2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

finding first 10 even numbers and sq it

In [7]:
print([i**2 for i in range(21) if i%2 == 0])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

multi-dimensional list

In [9]:
print([[j for j in range(5)] for i in range(3)])

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [19]:
lst = [[j for j in range(1,4)] for i in range(3)]
print([[j for j in range(1,4)] for i in range(3)])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

accessing all the elements of list

In [20]:
print(lst)
print([num for row in lst for num in row])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]