In [1]:
dct = { 1 : {'name' : 'ashish', 'phone' : 123456789},
        2 : {'name' : 'ankur', 'phone' : 123459789}}

print(dct)

{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'ankur', 'phone': 123459789}}

accessing the elements

In [6]:
print(dct)
print(dct[1]['name'])
print(dct[2]['name'])

{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'ankur', 'phone': 123459789}}
ashish
ankur

updating , adding and deleting

In [9]:
#adding
print(dct)
dct[3] = {'name' : 'prakash', 'phone' : 5638738486}
print(dct)

#updating
dct[2]['name'] = 'avneet'
print(dct)

#deleting
print(dct)
del dct[3]
print(dct)

{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}, 3: {'name': 'prakash', 'phone': 5638738486}}
{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}, 3: {'name': 'prakash', 'phone': 5638738486}}
{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}, 3: {'name': 'prakash', 'phone': 5638738486}}
{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}, 3: {'name': 'prakash', 'phone': 5638738486}}
{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}}

going through the data

In [12]:
print(dct)

for i in dct.keys():
  print(i,dct[i]['name'],dct[i]['phone'])

{1: {'name': 'ashish', 'phone': 123456789}, 2: {'name': 'avneet', 'phone': 123459789}}
1 ashish 123456789
2 avneet 123459789

going a level deeper with marks

In [26]:
data = {  1 : {'name' : 'ashish', 'phone' : 123456789,
               'marks' : {'hin':45, 'mth':42, 'sci':41}},
          2 : {'name' : 'ankur', 'phone' : 123459789,
               'marks' : {'hin':32, 'mth':38, 'sci':13}}}
print(data)

for i in data.keys():
  print(i,data[i]['name'], data[i]['marks']['hin'])

{1: {'name': 'ashish', 'phone': 123456789, 'marks': {'hin': 45, 'mth': 42, 'sci': 41}}, 2: {'name': 'ankur', 'phone': 123459789, 'marks': {'hin': 32, 'mth': 38, 'sci': 13}}}
1 ashish 45
2 ankur 32