creating a set

In [2]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

#adding

In [3]:
print(my_set)
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

#pop

In [6]:
print(my_set)
popped_element = my_set.pop()
print(popped_element)

{2, 3, 4, 5, 6}
2

#remove

In [8]:
print(my_set)
my_set.discard(3)
print(my_set)

{4, 5, 6}
{4, 5, 6}

#iterating

In [9]:
print(my_set)
for i in my_set:
  print(i)

{4, 5, 6}
4
5
6

#checking the value

In [10]:
print(my_set)
print(2 in my_set)
print(3 in my_set)
print(4 in my_set)

{4, 5, 6}
False
False
True

#set operations

In [15]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
print('union : ', set_1 | set_2)
print('intersection : ', set_1 & set_2) #common elements
print('difference : ', set_1 - set_2)
print('difference : ', set_2 - set_1) #unordered
print('symetric diff : ', set_1 ^ set_2)

union :  {1, 2, 3, 4, 5, 6, 7, 8}
intersection :  {4, 5}
difference :  {1, 2, 3}
difference :  {8, 6, 7}
symetric diff :  {1, 2, 3, 6, 7, 8}

#other methods

In [16]:
print(my_set)
my_set.clear()
print(my_set)

{4, 5, 6}
set()

#Tuple

tuple intializing

In [17]:
tpl = (1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

accessing

In [18]:
tpl = (1,2,3,4,5)
print(tpl[0])

1

slicing

In [19]:
tpl = (1,2,3,4,5)
print(tpl[1:3])

(2, 3)

concatenate

In [20]:
tpl1 = (1,2,3,4)
tpl2 = (4,5,6,7)
tpl = tpl1 + tpl2
print(tpl)

(1, 2, 3, 4, 4, 5, 6, 7)

iterating

In [21]:
print(tpl)
for i in tpl:
  print(i)

(1, 2, 3, 4, 4, 5, 6, 7)
1
2
3
4
4
5
6
7

checking the elements

In [22]:
print(tpl)
print(2 in tpl)
print(3 in tpl)
print(4 in tpl)

(1, 2, 3, 4, 4, 5, 6, 7)
True
True
True

checking the count

In [23]:
print(tpl)
print(tpl.count(4))

(1, 2, 3, 4, 4, 5, 6, 7)
2

finding the index

In [24]:
print(tpl)
print(tpl.index(3))

(1, 2, 3, 4, 4, 5, 6, 7)
2

multiplying the tuple

In [25]:
print(tpl)
print(tpl*3) #duplicated 3 times

(1, 2, 3, 4, 4, 5, 6, 7)
(1, 2, 3, 4, 4, 5, 6, 7, 1, 2, 3, 4, 4, 5, 6, 7, 1, 2, 3, 4, 4, 5, 6, 7)